<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Auth Connect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="login()">Sign In</ion-button>
  <ion-button (click)="logout()">Sign Out</ion-button>

  <ion-button [hidden]="(authenticationChange$ | async)" (click)="login()">Sign In</ion-button>
  <ion-button [hidden]="!(authenticationChange$ | async)" (click)="logout()">Sign Out</ion-button>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
